[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise
